 
<div id="about_us">
	<h1>Welcome to blogbank.</h1>
		<p>Stop adding content to the internet for free and get paid for the clicks you create.</p>
		 
		<p>The facts.  Only 39% of people are internet users.  Top bloggers already earn as much as 30k a day.  Why shouldn’t you get paid for the people who follow you?</p>
		 
		<p>No barriers to entry.</p>
		 
		<p>We are currently working on monetizing the website, but feel free to start building your blog, building your brand, and gaining momentum.  Email us with issues at blogbankcorp@gmail.com and help us refine this product.</p>
</div>