/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
	text-decoration:none;
}
.container {
	width:1100px;
	margin:auto;
	font-family:Arial;
	color:#474747;
	position:relative;
	display:block;
}

#header {
	width:100%;
	height:100px;
	position:relative;
	display:block;
	border-bottom:1px solid #e8e8e8;
}

#wrapper {
	margin-top:10px;
	display:block;
	height:600px;
	width:1100px;
	position:relative;
	overflow-y:hidden;
	overflow-x:scroll;
	clear:both;
}

#post_scroller{
	width:100000px;
}

.navbar {
	position:absolute;
	top:10px;
	right:0px;
	
}

.navbar ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
}

.navbar ul li {
	display:inline-block;
	margin:0px 0px;
}

.navbar ul li a {
	text-decoration:none;
	color:#474747;
	font-size:14px;
	text-transform:uppercase;
	margin-left:10px;
}

.navbar ul li a:hover {
	color:#009900;
}

#searchbar {
	position:absolute;
	bottom:10px;
	right:0px;
}

#searchbar input {
	padding:3px 5px;
	font-size:12px;
	width:500px;
}

#dropdown {
	position:absolute;
	left:250px;
	bottom:20px;
	font-size:20px;
}

#logo {
	font-size:50px;
	font-weight:bold;
	position:absolute;
	top:5px;
	left:0px;
}

#footer {
	height:100px;
	width:100%;
	text-align:center;
	border-top:1px solid #c8c8c8;
	background-color:none;
	display:block;
}


#footer_navbar {
	position:absolute;
	bottom:5px;
	left:0px;
	color:#009900;
}

#footer_navbar ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
}

#footer_navbar li {
	display:inline-block;
}

#footer_navbar li a {
	margin-right:20px;
	color:#009900;
}