#landing_page {
	background-color:#e8e8e8;
	width:100%;
}

.column {
	width:210px;
	padding:2px;
	height:100%;
	background-color:#bcd97e;
	display:inline-block;
	border:1px solid #d9d9d9;
	vertical-align:top;
	overflow:hidden;
	border-radius:5px;
	margin-right:0px;
	/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #AFC975 0%, #BCD97E 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #AFC975 0%, #BCD97E 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #AFC975 0%, #BCD97E 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #AFC975), color-stop(1, #BCD97E));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #AFC975 0%, #BCD97E 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #AFC975 0%, #BCD97E 100%);
}

#post_scroller{
	width:1100px;
	height:600px;
	position:relative;
	overflow-x:scroll;
	overflow-y:scroll;
}

#inner_post {
	top:0px;
	left:0px;
	width:20000000px;
	height:auto;
}
