#landing_page {
	min-height:800px;
	background-color:#e8e8e8;
	width:100%;
}

.column {
	width:220px;
	height:100%;
	background-color:#e8e8e8;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
	margin-right:0px;
}