.post_preview {
	height:100px;
	margin:auto;
	width:85%;
	padding:10px;
	border-radius:5px;
	margin-top:20px;
	position:relative;
	background-color:white;
	overflow:hidden;
}

.post_preview a {
	color:#009900;
}

.post_preview .content {
	width:80%;
}


.post_preview .title {
	color:Green;
}

.post_preview .date{
	font-size:10px;
}

.post_preview .body {
	font-size:11px;
	line-height:20px;
}

.post_preview ul{
	position:absolute;
	right:10px;
	top:10px;
	list-style-type:none;
	margin:0px;
	padding:0px;
}

.post_preview ul li {
	display:inline-block;
	font-size:11px;
	margin-left:20px;
}

.post_preview ul li a {
	text-decoration:none;
	font-size:14px;
	color:blue;
	border-radius:100%;


}

.post_preview .revenue {
	position:absolute;
	bottom:10px;
	right:10px;
	font-size:12px;
	color:green;
}


.post {
	width:500px;
	line-height:28px;
}

.post a {

}