.post_preview {
	height:200px;
	margin:auto;
	width:190px; 
	padding:10px;
	color:white;
	margin-bottom:20px;
	position:relative;
	background-color:#474747;
	overflow:hidden;
	border-radius:10px;
	box-shadow:5px 5px 12px #a0a0a0;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #616161 0%, #474747 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #616161 0%, #474747 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #616161 0%, #474747 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #616161), color-stop(1, #474747));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #616161 0%, #474747 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #616161 0%, #474747 100%);
}

.post_preview a {
	color:white;
}

.post_preview .content {
	width:80%;
}


.post_preview .title a {
	color:#ffffff;
	text-transform:uppercase;
}

.post_preview .date{
	color:#009900;
}

.post_preview .body {
	font-size:11px;
	line-height:20px;
}

.post_preview ul{
	position:absolute;
	right:10px;
	top:10px;
	list-style-type:none;
	margin:0px;
	padding:0px;
}

.post_preview ul li {
	display:inline-block;
	font-size:11px;
	margin-left:20px;
}

.post_preview ul li a {
	text-decoration:none;
	font-size:14px;
	color:blue;
	border-radius:100%;


}

.post_preview .revenue {
	position:absolute;
	bottom:10px;
	right:10px;
	font-size:12px;
	color:green;
}

.user_tag {

	padding:0px 0px;
	font-size:20px;
	color:white;
	margin-bottom:10px;
	font-weight:bold;
	border-bottom:1px dotted #474747;
}

.user_tag a {
	color:#474747;
}

.post {
	width:500px;
	line-height:28px;
}

.post a {

}