#login_form {
	padding:10px;
	width:400px;
	display:none;
	position:absolute;
	top:20px;
	right:0px;
	background-color:#474747;
	border-radius:10px;
	border:#a0a0a0;
	z-index:500;
	box-shadow:0px 0px 10px #a0a0a0;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #616161 0%, #474747 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #616161 0%, #474747 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #616161 0%, #474747 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #616161), color-stop(1, #474747));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #616161 0%, #474747 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #616161 0%, #474747 100%);
}


.login_button {
	border:none;
	background-color:#bcd97e;
	padding:5px;
	color:#474747;
}

#sign_up_box {
	position:absolute;
	color:white;
	right:40px;
	top:5px;
}

.new {
	font-size:14px;
	display:block;
	margin:5px 0px;
	line-height:10px;
}
#sign_up_box ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
	line-height:10px;
}

#sign_up_box ul li {
	display:block;
	
}
#sign_up_box a {
	color:white;
	text-transform:lowercase;
	margin:0px;
	font-size:10px;
}

#sign_up_box a:hover {
	color:#009900;
}

#login_form input:focus {
	background-color:none;
}
#login_form input,label {
	float:left;
	clear:both;
}

#login_form label {
	font-size:11px;
	color:white;
}

.post_form {
	padding:5px;
	height:80%;
}

.post_form input, textarea {
	clear:both;
	display:block;
	margin-bottom:10px;
	background-color:none;
	padding:3px 5px;
}

.post_form textarea {
	height:350px;
	width:780px;
	margin-top:20px;
	border:1px dotted #a0a0a0;
}

#post_side {
	position:absolute;
	top:50px;
	left:0px;
	width:900px;
	height:600px;
}


#archive_side {
	margin:auto;
	height:100%;
	width:auto;
	position:absolute;
	top:0px;
	right:0px;
	overflow:auto;
}

#post_side h2, #archive_side h2 {
	margin:0px;
}

#archive_side h2 {
	text-align:right;
}

.title_header {
	color:#bcd97e;
	display:block;
	background-color:#474747;
	font-size:20px;
	font-weight:bold;
	padding-bottom:10px;
}

#user_nav_bar {
	display:block;
	background-color:#e8e8e8;
	width:600px;
	height:20px;
	clear:both;
	padding:10px;
}

.page_block{
	margin:auto;
	text-align:center;
}

.user_options {
	position:absolute;
	top:0px;
	right:0px;
	font-size:14px;
	padding:2px 0px;
}

.user_options a {
	color:#bcd97e;
	border-left:1px solid #474747;
	padding:5px;
}

.user_posts {
	width:280px;
}

.sign_up_form {
	height:auto;
	width:600px;
	margin:auto;
	background-color:#474747;
	padding:20px;
	color:#bcd97e;
}
.sign_up_form input,label {
	display:block;
	clear:both;
}

.sign_up_form table {
	margin:auto;
	background-color:;
	text-align:center;
}
.sign_up_form table td {
	padding:10px;
	position:relative;
}

.sign_up_form label{
	margin-bottom:5px;
}

.form_title {
	font-size:30px;
	display:block;
	clear:both;
	margin-bottom:20px;
	font-weight:bold;
}
.sign_up_form input {
	margin-bottom:10px;
	padding:2px 5px;
}

.sign_up_button {
	border:none;
	background-color:#bcd97e;
	color:#474747;
	left:10px;
	padding:10px;
	width:195px;
	font-weight:bold;
	font-size:20px;
	bottom:10px;
}




