.login_form {
	padding:5px;
	background-color:#a0a0a0;
	width:400px;
}

.login_form input {
	float:left;
	clear:both;
}

.post_form {
	padding:5px;
	height:80%;
}

.post_form input, textarea {
	clear:both;
	display:block;
	margin-bottom:10px;
	background-color:none;
	padding:3px 5px;
}

.post_form textarea {
	height:80%;
	width:450px;
	border:none;
}

#post_side {
	position:absolute;
	top:0px;
	background-color:#e8e8e8;
	left:0px;
	width:50%;
	height:100%;
	overflow:auto;
}


#archive_side {
	background-color:#a0a0a0;
	margin:auto;
	height:100%;
	width:50%;
	position:absolute;
	top:0px;
	right:0px;
	overflow:auto;
}

#post_side h2, #archive_side h2 {
	margin:0px;
}

#user_nav_bar {
	display:block;
	background-color:#a0a0a0;
	height:20px;
}






