.login_form {
	padding:5px;
	background-color:#a0a0a0;
	width:400px;
}

.login_form input {
	float:left;
	clear:both;
}

.post_form {
	padding:5px;
	height:80%;
}

.post_form input, textarea {
	clear:both;
	display:block;
	margin-bottom:10px;
	background-color:none;
	padding:3px 5px;
}

.post_form textarea {
	height:350px;
	width:780px;
	margin-top:20px;
	border:1px dotted #a0a0a0;
}

#post_side {
	position:absolute;
	top:50px;
	left:0px;
	width:900px;
	height:600px;
}


#archive_side {
	background-color:#e8e8e8;
	margin:auto;
	height:100%;
	width:300px;
	position:absolute;
	top:50px;
	right:0px;
	overflow:auto;
}

#post_side h2, #archive_side h2 {
	margin:0px;
}

#archive_side h2 {
	text-align:right;
}

#user_nav_bar {
	display:block;
	border:1px dotted #004400;
	height:20px;
	clear:both;
	padding:10px;
}






