			</div>
			<div id="footer">
				<div id="footer_navbar">
					<ul>
						<li><a href="/">Home</a><li>
						<li><a href="#">Privacy</a><li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Advertise</a><li>
						<li><a href="#">Help</a></li>
					</ul>
				</div>
			</div>
		</div>
